.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  height: 28px;
  transition: .5s;
  padding: 0 24px;
  cursor: pointer;
  white-space: nowrap;
  text-transform: capitalize;
  color: #fff;
  border-radius: 3px;
  box-shadow: none;
}

.disabled {
  /*background-color: rgba(0, 77, 153, 0.5);*/
  /*border: 1px solid rgba(0, 77, 153, 0.5);*/
  /*pointer-events: none;*/
  /*color: rgba(0, 46, 92, 0.5);*/
}

.secondary {
  background-color: transparent;
  border: 1px solid #0066CC;
  color: #0066CC;
}

.default {
  background-color: #0066CC;
  border: 1px solid #0066CC;
}

.red {
  border: 1px solid #CC1439;
  background-color: #CC1439;
}

.default:hover {
  background-color: #0080ff;
  border: 1px solid #0080ff;
}

.red:hover {
  border: 1px solid #ff1a47;
  background-color: #ff1a47;
}

.secondary:hover {
  background-color: #E5F0FA;
}


.default:active {
  background-color: #0059B3;
  border-color: #0059B3;
}

.secondary:active {
  background-color: #C9E5FF;
}

.red:active {
  background-color: #B31232;
  border-color: #B31232;
}

.button:disabled {
  background-color: rgba(0, 77, 153, 0.5);
  border: 1px solid rgba(0, 77, 153, 0.5);
  pointer-events: none;
  color: rgba(0, 46, 92, 0.5);
}
