.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  height: 28px;
  padding: 0 24px;
  cursor: pointer;
  transition: .5s;
  white-space: nowrap;
  text-transform: capitalize;
  color: #fff;
  border-radius: 3px;
  box-shadow: none;
}

.disabled {
  pointer-events: none;
}

.secondary {
  color: #06c;
  border: 1px solid #06c;
  background-color: transparent;
}

.default {
  border: 1px solid #06c;
  background-color: #06c;
}

.red {
  border: 1px solid #cc1439;
  background-color: #cc1439;
}

.default:hover {
  border: 1px solid #0080ff;
  background-color: #0080ff;
}

.red:hover {
  border: 1px solid #ff1a47;
  background-color: #ff1a47;
}

.secondary:hover {
  background-color: #e5f0fa;
}


.default:active {
  border-color: #0059b3;
  background-color: #0059b3;
}

.secondary:active {
  background-color: #c9e5ff;
}

.red:active {
  border-color: #b31232;
  background-color: #b31232;
}

.button:disabled {
  pointer-events: none;
  color: rgba(0, 46, 92, .5);
  border: 1px solid rgba(0, 77, 153, .5);
  background-color: rgba(0, 77, 153, .5);
}
